<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
    </style>
</head>
<body>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a  href="/">Shop</a></li>
                <li class="main-header__item"><a  href="/products">Products</a></li>
                <li class="main-header__item"><a  href="/cart">Cart</a></li>
                <li class="main-header__item"><a  href="/orders">Orders</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/admin/products">Admin Products</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <% for(let product of prods) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= product.title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="card__content">
                        <div class="product__price">$<%= product.price %></div>
                        <p class="product__description"><%= product.description%></p>
                    </div>
                    <div class="card__actions">
                        <a href="/admin/edit-product" class="btn">Edit</button>
                        <form action="/admin/delete-product" method="POST">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </div>
                </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </main>

</body>
</html>